<header class="page-header">
  <h1>Movies</h1>
</header>

<div class="well">
  <%= form_for(Movie.new) do |f| %>
    <div class="form-group">
      <%= f.label(:title) %>
      <%= f.text_field(:title, :class => 'form-control') %>
    </div>

    <%= f.label(:date, 'Release Date') %>
    <div class="row">

      <%
      date_wrapper_open = '<div class="col-xs-4"><div class="form-group">'.html_safe
      date_wrapper_close = '</div></div>'.html_safe
      %>
      
      <%= date_wrapper_open %>

      <%= f.date_select(
        :date,
        {
          :order => [:day, :month, :year],
          :date_separator => "#{date_wrapper_close}#{date_wrapper_open}",
          :start_year => Date.today.year,
          :end_year => 150.years.ago.year
        },
        {:class => 'form-control'}
      ) %>

      <%= date_wrapper_close %>

    </div>

    <%= f.submit('Create Movie', :class => 'btn btn-primary') %>
  <% end %>
</div>

<table id="movies" class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

