<h2>All Movies</h2>
<%= form_for @movie, data: { ajaxremote: true } do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :release_date %>
  <%= f.date_field :release_date %>
  <%= f.submit :submit %>
<% end %>

<table data-movies-table>
  <tr>
    <th>Title</th>
    <th>Release Date</th>
  </tr>
</table>

<h2>All reviews</h2>
<table data-reviews-table>
  <tr>
    <th>Movie Reviewed</th>
    <th>Reviewer</th>
    <th>Title</th>
    <th>Review Text</th>
    <th>Review Date</th>
    <th>Delete</th>
  </tr>
</table>