<h2>Submit a Review</h2>
<%= form_for @review do |f| %>
  <%= f.label :reviewer_name %>
  <%= f.text_field :reviewer_name %>
  <br>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :review_text %>
  <%= f.text_area :review_text %>
  <br>

  <%= f.label :review_date %>
  <%= f.date_field :review_date %>
  <br>

  <%= f.label :movie_id, "Movie" %>
  <%= f.collection_select :movie_id, Movie.all, :id, :title %>
  <br>

  <%= f.submit %>
<% end %>
