<h3>Create A Review</h3>
<%= form_for :review, remote: true do |f| %>

  <%= f.label "Reviewer" %>
  <%= f.text_field :name %>

  <%= f.label "Review Title" %>
  <%= f.text_field :title %>

  <%= f.label "Review Text" %>
  <%= f.text_field :review_text %>

  <%= f.label "Movie" %>
  <%= f.collection_select :movie_id, Movie.all, :id, :title %>

  <%= f.submit %>
<% end %>
