<div class='new-review'>
  <h3>Create a Review</h3>

  <%= form_for new_review, remote: true do |f| %>
    <%= f.label 'reviewer_name', 'Reviewer' %>
    <%= f.text_field 'reviewer_name' %>

    <br>
    <%= f.label 'title' %>
    <%= f.text_field 'title' %>

    <br>
    <%= f.label 'review_text', 'Text' %>
    <%= f.text_area 'review_text' %>

    <br>
    <%= f.label 'movie' %>
    <%= f.collection_select :movie_id, movies, :id, :title %>

    <br>
    <%= f.submit 'Create Review' %>

  <% end %>

</div>