<tr>
  <td><%= review.reviewer_name %></td>
  <td><%= review.title %></td>
  <td><%= review.review_text %></td>
  <td><%= review.review_date %></td>
  <td><%= review.movie.title if review.movie %></td>
  <td> <%= link_to "Delete", review, method: :delete, data: { confirm: "Are you sure?" } %> </td>
</tr>
