<tr data-review-id="<%= review.id %>">
  <td><%= review.movie.title %></td>
  <td><%= review.reviewer_name %></td>
  <td><%= review.title %></td>
  <td><%= review.review_text %></td>
  <td><%= review.review_date_p %></td>
  <td><%= link_to 'Delete', review,  method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this?'} %> </td>
</tr>