<tr>
  <td><%= review.movie.title %></td>
  <td><%= review.reviwer_name %></td>
  <td><%= review.title %></td>
  <td><%= review.review_text %></td>
  <td><%= review.review_date %></td>
  <td><%# link_to %></td>
<tr>