<tr data-id=<%= review.id %>>
  <td><%= review.movie.title %></td>
  <td><%= review.reviewer_name %></td>
  <td><%= review.title%></td>
  <td><%= review.review_text %></td>
  <td><%= review.review_date %></td>
  <td><%= link_to "Delete", review_path(review.id), method: "DELETE", :remote => true %><td>
</tr>