<tr>
  <td><%= review.reviewer_name %></td>
  <td><%= review.title %></td>
  <td><%= review.text %></td>
  <td><%= review.movie.name %></td>
<<<<<<< HEAD
  <td><%= link_to "Delete", review_path(review),
          method: :delete,
          class: "text-danger",
          data: { confirm: 'Are you sure you want to delete this entry?' } %></td>
=======
  <td><%= link_to "Delete", review_path(review), remote: true, method: :delete, class: "text-danger", data: { confirm: 'Are you sure you want to delete this entry?' } %></td>
>>>>>>> 675d4d93c9b2a7d51984199b16ac8e5ef8347766
</tr>