<div>

	<div class= "col-xs-10 col-xs-offset-1">
		
		<div class= "jumbotron">
			<div class= "container">
				<h1>Smelly Potatoes Reviews</h1>
			</div>
		</div>

	</div>

	<div class="col-xs-7 col-xs-offset-1">

		<h3>Create a Review</h3>

		<%= form_for @review, remote: true do |f| %>

			<%= f.label :reviewer_name, "Reviewer" %>
			<%= f.text_field :reviewer_name %>
			<br>
			<%= f.label :title %>
			<%= f.text_field :title %>
			<br>
			<%= f.label :review_text, "Text" %>
			<%= f.text_field :review_text %>
			<br>
			<%= f.label :movie_id, "Movie" %>
			<%= f.collection_select(:movie_id, Movie.all, :id, :title) %>
			<br>
			<%= f.submit class: 'btn btn-primary' %>
				
		<% end %>
		  




		<h3>All Reviews</h3>

		<table class= "table table-striped">
			<thead>
				<th>Movie Reviewed</th>
				<th>Reviewer</th>
				<th>Title</th>
				<th>Review Text</th>
				<th>Review Date</th>
				<th>Delete</th>
			</thead>
			<tbody>
				<% @reviews.each do |review| %>
					<%= render review %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>