<h2>Create a Review</h2>
<%= form_for @review, remote: true do |f| %>
  <%= f.label :reviewer_name %>
  <%= f.text_field :reviewer_name %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :review_text %>
  <%= f.text_field :review_text %>
  <!-- Need a select tag for Movies at this point. -->

  <%= f.submit :submit %>
<% end %>

<h2>All reviews</h2>
<table data-reviews-table>
  <tr>
    <th>Movie Reviewed</th>
    <th>Reviewer</th>
    <th>Title</th>
    <th>Review Text</th>
    <th>Review Date</th>
    <th>Delete</th>
  </tr>
</table>
