<h2>Create a Review</h2>
<%= form_for @review, remote: true do |f| %>
  <%= f.label :reviewer_name %><br>
  <%= f.text_field :reviewer_name %><br>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :review_text %><br>
  <%= f.text_field :review_text %><br>
  <%= f.collection_select :movie_id, @movies, :id, :title %><br>
  <%= f.submit :submit %><br>
<% end %>

<h2>All reviews</h2>
<table data-reviews-table>
  <tr>
    <th>Movie Reviewed</th>
    <th>Reviewer</th>
    <th>Title</th>
    <th>Review Text</th>
    <th>Review Date</th>
    <th>Delete</th>
  </tr>
  <% @reviews.each do |review| %>
    <%= render partial: 'review', locals: { review: review } %>
  <% end %>
</table>
