<!-- Now add remote:true to the form and to the link. Build out your controller actions to respond_to :js, and build the .js.erb templates necessary to add and delete reviews without leaving the page. New reviews should pop up on the top of the page, and the form should now be clear and ready to leave another review. -->
<%= form_for :review, :remote => true do |f| %>
  Reviewer's Name: <%= f.text_field :reviewer_name %><br />
  Movie Reviewed : <%= collection_select(:review, :movie_id, Movie.all, :id, :name, prompt: true) %><br />
  Review Text : <%= f.text_area :review_text %><br />
  <%= f.submit %>
<% end %>

<div id="partial-reviews">

</div>
<% @desc_reviews.each do |review| %>
  <%= render partial: "review", locals: {review: review} %>
<% end %>






