<!-- Build out the index page for all Reviews (not nested under a particular movie). It should show reviews ordered with the latest on top, much like Posts in Danebook but uglier. Each review should be a partial, to make this easier later.
Just like Posts in Danebook, there should be a review submission form at the top of the page, with an options dropdown to pick from existing movies. -->
<%= form_for :review do |f| %>
  Reviewer's Name: <%= f.text_field :reviewer_name %><br />
  Movie Reviewed : <%= collection_select(:review, :movie_id, Movie.all, :id, :name, prompt: true) %><br />
  Review Text : <%= f.text_area :review_text %><br />
  <%= f.submit %>
<% end %>

<% @desc_reviews.each do |review| %>
  <h4>Review by: <strong><%= review.reviewer_name %></strong></h4>
  <p>Movie: <%= review.title %></p>
  <p>Review: <%= review.review_text %></p>
  <%= link_to "delete review", review_path(review.id), :method=>:delete %>
  <br>
<% end %>