<!DOCTYPE html>
<html>
  <head>
    <title>AssignmentRailsApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="<%= controller_name %>">
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
    
  </body>
</html>
